@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Nova+Square&display=swap");
:root {
  --primary-color: #586998;
  --font-color: #0c0c21;
  --bg-color: #eaeaea;
  --bg-color-2: #dbdee8;
  --heading-color: #4170fc;
  --heading-color-2: #0d2542;
}

[data-theme=dark] {
  --primary-color: #cad0f3;
  --font-color: #b1b1b4;
  --bg-color: #060c0f;
  --bg-color-2: #0b1019;
  --heading-color: #0072fa;
  --heading-color-2: #9ea6d4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-padding-top: 140px;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--bg-color);
  color: var(--font-color);
  padding-top: 100px;
}

h1 {
  color: var(--heading-color);
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
}
@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 1.8rem;
  }
}

p {
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 500;
  text-indent: 15px;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  border-bottom: 3px solid transparent;
  font-weight: bold;
}
a:hover {
  border-bottom: 3px solid currentColor;
}

.container {
  max-width: 75%;
  margin: 0 auto;
  padding: 135px 20px 20px 20px;
}
@media (max-width: 768px) {
  .container {
    max-width: 90%;
    padding: 90px 20px 20px 20px;
  }
}

/*** nav ***/
.stickyAdd {
  padding: 20px 110px;
  background: var(--bg-color);
  box-shadow: 0 0 15px var(--font-color);
  z-index: 1;
  transition: 1s ease;
}
@media (max-width: 768px) {
  .stickyAdd {
    padding: 15px 20px;
  }
}

.active {
  color: var(--heading-color);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 15px 60px;
  transition: 1s ease;
}
@media (max-width: 768px) {
  nav {
    padding: 20px 30px;
  }
}
nav .logo {
  border-bottom: none;
  transition: 0.3s;
  height: 0;
}
nav .logo::after {
  content: "Dejan Lukić";
  display: block;
  position: relative;
  font-family: "Nova Square", cursive;
  color: var(--heading-color);
  left: 38px;
  font-size: 1.7rem;
  font-weight: 100;
  bottom: 57px;
}
@media (max-width: 768px) {
  nav .logo::after {
    bottom: 50px;
    font-size: 1rem;
  }
}
nav .logo svg {
  bottom: 25px;
  height: 50px;
  position: relative;
}
nav .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  nav .menu {
    padding: 20px;
  }
}
nav .menu ul {
  display: flex;
  margin-top: 5px;
}
@media (max-width: 768px) {
  nav .menu ul {
    flex-direction: column;
    align-items: center;
  }
}
nav .menu ul li {
  display: inline-block;
  list-style: none;
  padding: 5px 15px;
}
nav .menu ul li:hover::after {
  width: 100%;
  transition: width 0.8s;
}
nav .menu ul li a {
  font-size: 1.3rem;
  border-bottom: none;
}
nav .menu ul li::after {
  content: "";
  display: block;
  width: 0px;
  height: 3px;
  background: var(--primary-color);
  transition: width 0.8s;
}
nav .menu .theme-switch-wrapper {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  nav .menu .theme-switch-wrapper {
    float: right;
  }
}
nav .menu .theme-switch-wrapper em {
  margin: 0 10px;
  font-size: 1rem;
}
nav .menu .theme-switch-wrapper .theme-switch {
  display: inline-block;
  height: 17px;
  position: relative;
  width: 40px;
}
nav .menu .theme-switch-wrapper .theme-switch input {
  display: none;
}
nav .menu .theme-switch-wrapper .theme-switch .click {
  background-color: #586998;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}
nav .menu .theme-switch-wrapper .theme-switch .click:before {
  background-color: #cad0f3;
  bottom: 2px;
  content: "";
  height: 13px;
  right: 23px;
  position: absolute;
  transition: 0.4s;
  width: 13px;
}
nav .menu .theme-switch-wrapper .theme-switch input:checked + .click {
  background-color: #0677ff;
}
nav .menu .theme-switch-wrapper .theme-switch input:checked + .click:before {
  transform: translateX(20px);
}
nav .menu .theme-switch-wrapper .theme-switch .click.round {
  border-radius: 34px;
}
nav .menu .theme-switch-wrapper .theme-switch .click.round:before {
  border-radius: 50%;
}
nav .bars {
  display: none;
}
@media (max-width: 768px) {
  nav .bars {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
  }
}
nav .bars .bar {
  width: 30px;
  height: 5px;
  background: #0677ff;
  margin: 3px;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
nav .bars-open .bar:nth-child(1) {
  transition: transform 0.2s ease-in-out;
  transform: rotate(45deg) translate(6.5px, 6px);
}
nav .bars-open .bar:nth-child(2) {
  opacity: 0;
}
nav .bars-open .bar:nth-child(3) {
  transition: transform 0.2s ease-in-out;
  transform: rotate(-45deg) translate(6.5px, -6.5px);
}
@media (max-width: 768px) {
  nav .menu {
    display: none;
    background: var(--bg-color);
    position: absolute;
    top: 63px;
    left: 0;
    width: 100%;
    z-index: 1;
  }
}
@media (min-width: 769px) {
  nav .menu {
    display: flex !important;
  }
}

/*** intro ***/
.intro {
  background: #060c0f;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.intro .intro-text {
  color: #0677ff;
}
.intro .intro-text h2 {
  font-family: "Nova Square", cursive;
  font-size: 4rem;
  font-weight: 100;
  font-style: italic;
}
@media (max-width: 768px) {
  .intro .intro-text h2 {
    font-size: 2rem;
  }
}
.intro .hide {
  background: #060c0f;
  overflow: hidden;
  padding-right: 20px;
}
.intro .hide span {
  transform: translateY(100%);
  display: inline-block;
}

.slider {
  background: #060c0f;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.jump {
  transform: translateY(150%);
  opacity: 0;
}

.jump-appear {
  animation: jumpApp 1s ease-out forwards;
}

@keyframes jumpApp {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(15%);
    opacity: 1;
  }
}
/*** welcome header ***/
header {
  height: 80vh;
  background-image: url(../img/header7.png);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}
@media (max-width: 768px) {
  header {
    height: 68vh;
    background-image: url(../img/headerxs.png);
  }
}
header .welcome-text {
  font-size: 4.5rem;
  transform: translateX(500%);
  position: relative;
  z-index: -1;
}
@media (max-width: 768px) {
  header .welcome-text {
    font-size: 2rem;
  }
}
header .welcome-text-d {
  font-size: 3rem;
  transform: translateX(-500%);
  position: relative;
  z-index: -1;
}
@media (max-width: 768px) {
  header .welcome-text-d {
    font-size: 1.5rem;
  }
}
header h1 {
  margin: 0;
  font-family: "Nova Square", cursive;
  color: var(--heading-color-2);
  font-weight: 100;
}
header h2 {
  font-family: "Nova Square", cursive;
  font-weight: 100;
  color: var(--heading-color);
  margin: 0;
}

/*** projects ***/
.projects {
  padding: 20px 0;
  margin-top: 100px;
}
.projects h1 {
  font-family: "Nova Square", cursive;
  text-align: center;
  display: block;
  position: relative;
  top: 50px;
}
@media (max-width: 768px) {
  .projects h1 {
    top: 37px;
  }
}
.projects .path-wrap {
  filter: drop-shadow(0px 0px 3px var(--font-color));
}
.projects .path-wrap .clip-path {
  background: var(--heading-color);
  clip-path: polygon(28% 10%, 72% 10%, 74% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%, 26% 0%);
  padding-top: 2px;
}
@media (max-width: 768px) {
  .projects .path-wrap .clip-path {
    clip-path: polygon(28% 3%, 72% 3%, 74% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%, 26% 0%);
  }
}
.projects .path-wrap .clip-path .clip-path-container {
  background: var(--bg-color);
  clip-path: polygon(28% 10%, 72% 10%, 74% 0%, 100% 0, 100% 100%, 0 100%, 0 0, 26% 0%);
}
@media (max-width: 768px) {
  .projects .path-wrap .clip-path .clip-path-container {
    clip-path: polygon(28% 3%, 72% 3%, 74% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%, 26% 0%);
  }
}
.projects .path-wrap .clip-path .clip-path-container .link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 20px;
}
.projects .path-wrap .clip-path .clip-path-container .link a {
  text-decoration: none;
  border-bottom: none;
  font-size: 1.5rem;
  cursor: pointer;
}
.projects .path-wrap .clip-path .clip-path-container .link a:hover {
  color: var(--font-color);
  transition: 1s ease;
}
.projects .path-wrap .clip-path .clip-path-container .link a:hover i {
  transform: scale(1.4);
  color: #0677ff;
  transition: 0.2s;
}
.projects .path-wrap .clip-path .clip-path-container .link i {
  font-size: 1.5rem;
}
.projects .path-wrap .clip-path .clip-path-container .container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}
.projects .path-wrap .clip-path .clip-path-container .container article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: var(--bg-color-2);
  padding: 20px;
  flex-direction: column;
  flex: 0 0 32%;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .projects .path-wrap .clip-path .clip-path-container .container article {
    flex: 0 0 100%;
  }
}
.projects .path-wrap .clip-path .clip-path-container .container article img {
  width: 100%;
  border: 3px solid #060c0f;
}
.projects .path-wrap .clip-path .clip-path-container .container article .icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  width: 100%;
}
.projects .path-wrap .clip-path .clip-path-container .container article .icons i {
  font-size: 1.5rem;
  color: #0677ff;
}
.projects .path-wrap .clip-path .clip-path-container .container article .icons .fa-php {
  font-size: 1.8rem;
  font-weight: 700;
}
.projects .path-wrap .clip-path .clip-path-container .container article .icons svg {
  width: 30px;
  fill: #0677ff;
  margin-left: 5px;
}
.projects .path-wrap .clip-path .clip-path-container .container article h3 {
  font-size: 1.7rem;
  color: var(--heading-color-2);
  margin-top: 20px;
  text-align: center;
}
.projects .path-wrap .clip-path .clip-path-container .container article p {
  font-size: 1rem;
  color: var(--font-color);
  margin: 10px 0 0 0;
}
.projects .path-wrap .clip-path .clip-path-container .container article i {
  font-size: 1.6rem;
  color: var(--primary-color);
  margin-left: 10px;
}
.projects .path-wrap .clip-path .clip-path-container .container article .webcon {
  margin-left: 0px;
}
.projects .path-wrap .clip-path .clip-path-container .container article a {
  margin-left: 100px;
  border-bottom: none;
  cursor: pointer;
}
@media (max-width: 768px) {
  .projects .path-wrap .clip-path .clip-path-container .container article a {
    margin-left: 65px;
  }
}
.projects .path-wrap .clip-path .clip-path-container .container article a:hover i {
  transform: scale(1.2);
  color: #0677ff;
  transition: 0.2s;
}
.projects .path-wrap .clip-path .clip-path-container .hiden-container {
  display: none;
  padding: 0 20px;
}

.show-container {
  display: flex;
  padding: 0 20px 20px 20px;
}

/*** skills ***/
.graphic-up {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: nesto2 3s ease-in-out forwards;
  stroke: var(--heading-color);
  stroke-width: 8px;
  stroke-linecap: round;
  fill: none;
  /* display: none; */
}

.graphic-left {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: nesto2 3s ease-in-out forwards;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  stroke: var(--heading-color);
  stroke-width: 8px;
  stroke-linecap: round;
  fill: none;
  /* display: none; */
}

.nevidljivo {
  opacity: 0;
}

@keyframes nesto2 {
  0% {
    stroke-dashoffset: 500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
.skills {
  padding: 20px 0;
  margin-top: 100px;
}
.skills h1 {
  font-family: "Nova Square", cursive;
  text-align: center;
  display: block;
  position: relative;
  top: 50px;
}
@media (max-width: 768px) {
  .skills h1 {
    top: 37px;
  }
}
@media (max-width: 500px) {
  .skills h1 {
    top: 28px;
  }
}
@media (max-width: 400px) {
  .skills h1 {
    top: 32px;
  }
}
.skills .path-wrap {
  filter: drop-shadow(0px 0px 3px var(--font-color));
}
.skills .path-wrap .clip-path {
  background: var(--heading-color);
  clip-path: polygon(28% 8%, 72% 8%, 74% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%, 26% 0%);
  padding-top: 2px;
}
@media (max-width: 768px) {
  .skills .path-wrap .clip-path {
    clip-path: polygon(28% 4%, 72% 4%, 74% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%, 26% 0%);
  }
}
@media (max-width: 500px) {
  .skills .path-wrap .clip-path {
    clip-path: polygon(28% 2%, 72% 2%, 74% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%, 26% 0%);
  }
}
.skills .path-wrap .clip-path .clip-path-container {
  background: var(--bg-color);
  padding: 110px 0 20px 0;
  clip-path: polygon(28% 8%, 72% 8%, 74% 0%, 100% 0, 100% 100%, 0 100%, 0 0, 26% 0%);
}
@media (max-width: 768px) {
  .skills .path-wrap .clip-path .clip-path-container {
    clip-path: polygon(28% 4%, 72% 4%, 74% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%, 26% 0%);
  }
}
@media (max-width: 500px) {
  .skills .path-wrap .clip-path .clip-path-container {
    clip-path: polygon(28% 2%, 72% 2%, 74% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%, 26% 0%);
  }
}
.skills .path-wrap .clip-path .clip-path-container .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background: var(--bg-color-2);
  padding: 20px;
  margin-bottom: 20px;
}
.skills .path-wrap .clip-path .clip-path-container .container article:nth-child(1) {
  flex: 0 0 30%;
}
.skills .path-wrap .clip-path .clip-path-container .container article:nth-child(1) .graphic {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.skills .path-wrap .clip-path .clip-path-container .container article:nth-child(1) .graphic .program {
  color: var(--heading-color-2);
  position: relative;
  top: 112px;
  right: 24%;
  font-size: 2rem;
}
.skills .path-wrap .clip-path .clip-path-container .container article:nth-child(1) .graphic .percent {
  position: relative;
  color: var(--heading-color-2);
  font-size: 2rem;
  bottom: 122px;
  left: 27%;
}
.skills .path-wrap .clip-path .clip-path-container .container article:nth-child(2) {
  flex: 0 0 30%;
}
.skills .path-wrap .clip-path .clip-path-container .container article:nth-child(2) .graphic {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.skills .path-wrap .clip-path .clip-path-container .container article:nth-child(2) .graphic .program {
  color: var(--heading-color-2);
  position: relative;
  top: 112px;
  right: 24%;
  font-size: 2rem;
}
.skills .path-wrap .clip-path .clip-path-container .container article:nth-child(2) .graphic .percent {
  position: relative;
  color: var(--heading-color-2);
  font-size: 2rem;
  bottom: 122px;
  left: 27%;
}
.skills .path-wrap .clip-path .clip-path-container .container article:nth-child(3) {
  flex: 0 0 30%;
}
.skills .path-wrap .clip-path .clip-path-container .container article:nth-child(3) .graphic {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.skills .path-wrap .clip-path .clip-path-container .container article:nth-child(3) .graphic .program {
  color: var(--heading-color-2);
  position: relative;
  top: 112px;
  right: 24%;
  font-size: 2rem;
}
.skills .path-wrap .clip-path .clip-path-container .container article:nth-child(3) .graphic .percent {
  position: relative;
  color: var(--heading-color-2);
  font-size: 2rem;
  bottom: 122px;
  left: 27%;
}
.skills .path-wrap .clip-path .clip-path-container .container article:nth-child(4) {
  flex: 0 0 100%;
}
.skills .path-wrap .clip-path .clip-path-container .container article:nth-child(4) p {
  padding: 20px;
  letter-spacing: 1px;
  text-align: center;
}
.skills .path-wrap .clip-path .clip-path-container .container article:nth-child(4) .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  font-size: 4rem;
  color: var(--heading-color-2);
}
@media (max-width: 768px) {
  .skills .path-wrap .clip-path .clip-path-container .container article:nth-child(4) .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
.skills .path-wrap .clip-path .clip-path-container .container article:nth-child(4) .icons i {
  margin: 20px;
}
@media (max-width: 768px) {
  .skills .path-wrap .clip-path .clip-path-container .container article:nth-child(4) .icons i {
    flex: 0 0 20%;
  }
}
.skills .path-wrap .clip-path .clip-path-container .container article:nth-child(4) .icons .svgs {
  margin: 20px;
}
.skills .path-wrap .clip-path .clip-path-container .container article:nth-child(4) .icons svg {
  width: 58px;
  fill: var(--heading-color-2);
}

.profile {
  padding: 20px 0;
  margin-top: 100px;
}
.profile h1 {
  font-family: "Nova Square", cursive;
  text-align: center;
  display: block;
  position: relative;
  top: 50px;
}
@media (max-width: 768px) {
  .profile h1 {
    top: 37px;
  }
}
.profile .path-wrap {
  filter: drop-shadow(0px 0px 3px var(--font-color));
}
.profile .path-wrap .clip-path {
  background: var(--heading-color);
  clip-path: polygon(28% 11%, 72% 11%, 74% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%, 26% 0%);
  padding-top: 2px;
}
@media (max-width: 768px) {
  .profile .path-wrap .clip-path {
    clip-path: polygon(28% 6%, 72% 6%, 74% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%, 26% 0%);
  }
}
@media (max-width: 500px) {
  .profile .path-wrap .clip-path {
    clip-path: polygon(28% 5%, 72% 5%, 74% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%, 26% 0%);
  }
}
.profile .path-wrap .clip-path .clip-path-container {
  background: var(--bg-color);
  clip-path: polygon(28% 11%, 72% 11%, 74% 0%, 100% 0, 100% 100%, 0 100%, 0 0, 26% 0%);
}
@media (max-width: 768px) {
  .profile .path-wrap .clip-path .clip-path-container {
    clip-path: polygon(28% 6%, 72% 6%, 74% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%, 26% 0%);
  }
}
@media (max-width: 500px) {
  .profile .path-wrap .clip-path .clip-path-container {
    clip-path: polygon(28% 5%, 72% 5%, 74% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%, 26% 0%);
  }
}
.profile .path-wrap .clip-path .clip-path-container .container article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: var(--bg-color-2);
  padding: 20px;
  margin: 0 auto 20px;
}
@media (max-width: 768px) {
  .profile .path-wrap .clip-path .clip-path-container .container article {
    width: 100%;
  }
}
.profile .path-wrap .clip-path .clip-path-container .container article .image {
  flex: 0 0 35%;
  padding: 15px;
}
@media (max-width: 768px) {
  .profile .path-wrap .clip-path .clip-path-container .container article .image {
    flex: 0 0 70%;
    margin: 0 auto;
  }
}
.profile .path-wrap .clip-path .clip-path-container .container article .image img {
  border: 8px solid #0677ff;
  border-radius: 50%;
  width: 100%;
}
.profile .path-wrap .clip-path .clip-path-container .container article .text {
  padding: 50px 20px 20px 20px;
  flex: 0 0 60%;
  letter-spacing: 1px;
  text-align: center;
}
@media (max-width: 768px) {
  .profile .path-wrap .clip-path .clip-path-container .container article .text {
    flex: 0 0 100%;
  }
}

/*** footer ***/
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px;
  background: var(--bg-color);
}
@media (max-width: 768px) {
  footer {
    padding: 40px 20px;
  }
}
footer .logodiv {
  display: flex;
}
footer .logodiv .logo {
  border-bottom: none;
  transition: 0.3s;
  height: 0;
}
footer .logodiv .logo::after {
  content: "Dejan Lukić";
  display: block;
  position: relative;
  font-family: "Nova Square", cursive;
  color: var(--heading-color);
  left: 38px;
  font-size: 1.7rem;
  font-weight: 100;
  bottom: 57px;
}
@media (max-width: 3768px) {
  footer .logodiv .logo::after {
    font-size: 1rem;
    bottom: 50px;
  }
}
footer .logodiv .logo svg {
  bottom: 25px;
  height: 50px;
  position: relative;
}
footer .iconsdiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  footer .iconsdiv {
    flex-direction: column;
  }
}
footer .iconsdiv a {
  font-size: 3rem;
  color: var(--heading-color-2);
  transition: 1s ease;
  cursor: pointer;
  border: none;
  margin: 0 20px;
}
@media (max-width: 768px) {
  footer .iconsdiv a {
    font-size: 2rem;
  }
}
footer .iconsdiv a:hover {
  color: #0677ff;
  transform: scale(1.2);
  transition: 1s ease;
  border: none;
}

/*# sourceMappingURL=style.css.map */
