@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Nova+Square&display=swap');
$fontFamily:'Montserrat',
sans-serif;
$fontFamily2:'Nova Square',
cursive;
$transition: 1s ease;
$fontSize: 16px;
$blueSecondary: #0677ff;
// $darkBlue:#0c0c21;
$darkBlue:#060c0f;
$grey: #c5c5c5;
$grey-two: #b1b1b4;
:root {
    --primary-color: #cad0f3;
    // --secondary-color: #0a44e4;
    --font-color: #b1b1b4;
    // --bg-color: #0c0c21;
    // --bg-color: #141424;
    --bg-color: #060c0f;
    // --bg-color-2: #141431;
    --bg-color-2: #0b1019;
    --heading-color: #0072fa;
    --heading-color-2: #9ea6d4;
}

[data-theme="light"] {
    --primary-color: #586998;
    // --secondary-color: #0a44e4;
    --font-color: #0c0c21;
    --bg-color: #eaeaea;
    --bg-color-2: #dbdee8;
    --heading-color: #4170fc;
    --heading-color-2: #0d2542;
}

@mixin flex($justify,
$align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: wrap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-padding-top: 140px;
}

body {
    font-family: $fontFamily;
    background-color: var(--bg-color);
    color: var(--font-color);
    padding-top: 100px;
}

h1 {
    color: var(--heading-color);
    font-family: $fontFamily;
    font-size: 3rem;
    @media (max-width: 768px) {
        font-size: 2.5rem;
    }
    @media (max-width: 480px) {
        font-size: 1.8rem;
    }
}

p {
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 500;
    text-indent: 15px;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: 3px solid transparent;
    font-weight: bold;
    &:hover {
        border-bottom: 3px solid currentColor;
    }
}

.container {
    max-width: 75%;
    margin: 0 auto;
    padding: 100px 20px 20px 20px;
    @media (max-width: 768px) {
        max-width: 90%;
        padding: 90px 20px 20px 20px;
    }
}

.hide {
    display: none !important;
}


/** preload **/

.preload {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #060c0f;
    z-index: 999;
    transition: opacity 1s ease-in-out 4s;
}

.preload-finish {
    // transform: translateY(100%);
    // width: 0;
    opacity: 0;
    pointer-events: none;
}

.preload-velika-crta {
    stroke-dasharray: 800;
    stroke-dashoffset: 800;
    animation: preloadLogoVelika 3s ease-in forwards, preloadOpacity 4s ease-out forwards;
    stroke: #0c47eb;
    stroke-width: 2px;
    stroke-linecap: round;
}

.preload-mala-crta {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: preloadLogoMala 3s ease-in forwards, preloadOpacity 4s ease-out forwards;
    stroke: #0c47eb;
    stroke-width: 2px;
    stroke-linecap: round;
}

@keyframes preloadLogoMala {
    0% {
        stroke-dashoffset: 500;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes preloadLogoVelika {
    0% {
        stroke-dashoffset: 800;
        fill-opacity: 0;
    }
    100% {
        stroke-dashoffset: 0;
        fill-opacity: 1;
    }
}

@keyframes preloadOpacity {
    0% {
        fill-opacity: 0;
    }
    25% {
        fill-opacity: 0;
    }
    50% {
        fill-opacity: 0;
    }
    75% {
        fill-opacity: 0;
    }
    100% {
        fill-opacity: 1;
    }
}


/*** nav ***/

.stickyAdd {
    padding: 20px 110px;
    background: var(--bg-color);
    box-shadow: 0 0 15px var(--font-color);
    z-index: 1;
    transition: $transition;
    @media (max-width: 768px) {
        padding: 15px 20px;
    }
}

.active {
    color: var(--heading-color);
}

nav {
    @include flex(space-between,
    center);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 15px 60px;
    transition: $transition;
    @media (max-width: 768px) {
        padding: 20px 30px;
    }
    .logo {
        border-bottom: none;
        transition: 0.3s;
        height: 0;
        &::after {
            content: "Dejan Lukić";
            display: block;
            position: relative;
            font-family: $fontFamily2;
            color: var(--heading-color);
            left: 38px;
            font-size: 1.7rem;
            font-weight: 100;
            bottom: 57px;
            @media (max-width: 768px) {
                bottom: 50px;
                font-size: 1rem;
            }
        }
        svg {
            bottom: 25px;
            height: 50px;
            position: relative;
        }
    }
    .menu {
        @include flex(space-between,
        center);
        @media (max-width: 1024px) {
            padding: 20px;
        }
        ul {
            display: flex;
            margin-top: 5px;
            @media (max-width: 1024px) {
                flex-direction: column;
                align-items: center;
            }
            li {
                display: inline-block;
                list-style: none;
                padding: 5px 15px;
                &:hover::after {
                    width: 100%;
                    transition: width .8s;
                }
                a {
                    font-size: 1.3rem;
                    border-bottom: none;
                }
            }
            li::after {
                content: '';
                display: block;
                width: 0px;
                height: 3px;
                background: var(--primary-color);
                transition: width .8s;
            }
        }
        .theme-switch-wrapper {
            display: flex;
            align-items: center;
            @media (max-width: 1024px) {
                float: right;
            }
            em {
                margin: 0 10px;
                font-size: 1rem;
            }
            .theme-switch {
                display: inline-block;
                height: 17px;
                position: relative;
                width: 40px;
                input {
                    display: none;
                }
                .click {
                    background-color: #586998;
                    bottom: 0;
                    cursor: pointer;
                    left: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    transition: .4s;
                }
                .click:before {
                    background-color: #cad0f3;
                    bottom: 2px;
                    content: "";
                    height: 13px;
                    right: 23px;
                    position: absolute;
                    transition: .4s;
                    width: 13px;
                }
                input:checked+.click {
                    background-color: $blueSecondary;
                }
                input:checked+.click:before {
                    transform: translateX(20px);
                }
                .click.round {
                    border-radius: 34px;
                }
                .click.round:before {
                    border-radius: 50%;
                }
            }
        }
        .change-language {
            margin-left: 10px;
            a {
                cursor: pointer;
                border-bottom: none;
                &:hover {
                    border-bottom: none;
                }
            }
        }
    }
    .bars {
        display: none;
        @media (max-width: 1024px) {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            cursor: pointer;
        }
        .bar {
            width: 30px;
            height: 5px;
            background: $blueSecondary;
            margin: 3px;
            transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
        }
    }
    .bars-open {
        .bar:nth-child(1) {
            transition: transform .2s ease-in-out;
            transform: rotate(45deg) translate(6.5px, 6px);
        }
        .bar:nth-child(2) {
            opacity: 0;
        }
        .bar:nth-child(3) {
            transition: transform .2s ease-in-out;
            transform: rotate(-45deg) translate( 6.5px, -6.5px);
        }
    }
    .menu {
        @media (max-width: 1024px) {
            display: none;
            background: var(--bg-color);
            position: absolute;
            top: 72px;
            left: 0;
            width: 100%;
            z-index: 1;
        }
        @media (max-width: 768px) {
            top: 63px;
        }
        @media (min-width:1025px) {
            display: flex !important;
        }
    }
}

//scroll effects headings
.jump {
    transform: translateY(150%);
    opacity: 0;
}

.jump-appear {
    // transform: translateY(0%);
    animation: jumpApp 1s ease-out forwards .4s;
    // transition: 1s ease-out;
}

@keyframes jumpApp {
    0% {
        // transform: translateY(100%);
        transform: scale(0);
    }
    50% {
        // transform: translateY(0%);
        transform: scale(1.2);
    }
    100% {
        // transform: translateY(15%) scale(1.3);
        transform: scale(1);
        opacity: 1;
    }
}


/*** welcome header ***/

.welcome-text-trans {
    transform: translateX(500%);
}

.welcome-text-d-trans {
    transform: translateX(-500%);
}

.welcome-text-add {
    transform: translateX(0%);
    transition: transform 1.2s ease-in-out;
    @media (max-width: 768px) {
        transform: translate(0%, -15px);
    }
}

.welcome-text-d-add {
    transform: translate(56%, -7px);
    transition: transform 1.2s ease-in-out;
    @media (max-width: 768px) {
        transform: translate(38%, -11px);
    }
}

header {
    height: 80vh;
    background-image: url(../img/header7.png);
    background-position: center;
    background-size: cover;
    @include flex(center,
    center);
    overflow: hidden;
    @media (max-width: 768px) {
        height: 68vh;
        background-image: url(../img/headerxs.png);
    }
    .welcome-text {
        font-size: 4.5rem;
        // transform: translateX(500%);
        // transition: transform 1.2s ease-in-out 4s;
        position: relative;
        z-index: -1;
        @media (max-width: 768px) {
            font-size: 2.3rem;
        }
    }
    .welcome-text-d {
        font-size: 3rem;
        // transform: translateX(-500%);
        // transition: transform 1.2s ease-in-out 5s;
        position: relative;
        z-index: -1;
        @media (max-width: 768px) {
            font-size: 1.8rem;
        }
    }
    h1 {
        margin: 0;
        font-family: $fontFamily2;
        color: var(--heading-color-2);
        font-weight: 100;
    }
    h2 {
        font-family: $fontFamily2;
        font-weight: 100;
        color: var(--heading-color);
        margin: 0;
    }
}


/*** projects ***/

.projects {
    padding: 20px 0;
    margin-top: 100px;
    overflow: hidden;
    h1 {
        font-family: $fontFamily2;
        text-align: center;
        display: block;
        position: relative;
        top: 29px;
        @media (max-width: 768px) {
            top: 22px;
        }
        @media (max-width: 480px) {
            top: 16px;
        }
    }
    .lines {
        @include flex(space-between,
        center);
        .line:first-child {
            margin-right: 100px;
            width: 0%;
            height: 2px;
            background: var(--heading-color);
            position: relative;
            @media (max-width: 1024px) {
                margin: 0;
            }
        }
        .line:last-child {
            margin-left: 100px;
            width: 0%;
            height: 2px;
            background: var(--heading-color);
            position: relative;
            @media (max-width: 1024px) {
                margin: 0;
            }
        }
    }
    .link {
        @include flex(center,
        center);
        padding-bottom: 20px;
        a {
            text-decoration: none;
            border-bottom: none;
            font-size: 1.5rem;
            cursor: pointer;
            &:hover {
                color: var(--font-color);
                transition: $transition;
                i {
                    transform: scale(1.4);
                    color: $blueSecondary;
                    transition: .2s;
                }
            }
        }
        i {
            font-size: 1.5rem;
        }
    }
    .container {
        @include flex(space-between,
        stretch);
        article {
            @include flex(space-between,
            center);
            background: var(--bg-color-2);
            padding: 20px;
            flex-direction: column;
            flex: 0 0 32%;
            margin-bottom: 20px;
            @media (max-width: 1024px) {
                flex: 0 0 100%;
                padding: 45px;
            }
            @media (max-width: 480px) {
                padding: 15px;
            }
            img {
                width: 100%;
                border: 3px solid $darkBlue;
            }
            .icons {
                @include flex(flex-start,
                center);
                padding: 10px 0;
                width: 100%;
                i {
                    font-size: 1.5rem;
                    color: $blueSecondary;
                }
                .fa-php {
                    font-size: 1.8rem;
                    font-weight: 700;
                }
                svg {
                    width: 30px;
                    fill: $blueSecondary;
                    margin-left: 5px;
                }
            }
            h3 {
                font-size: 1.7rem;
                color: var(--heading-color-2);
                margin-top: 20px;
                text-align: center;
            }
            p {
                font-size: 1rem;
                color: var(--font-color);
                margin: 10px 0 0 0;
                text-align: center;
            }
            i {
                font-size: 1.6rem;
                color: var(--primary-color);
                margin-left: 10px;
            }
            .webcon {
                margin-left: 0px;
            }
            span {
                align-self: flex-start;
                margin-top: 15px;
            }
            a {
                border-bottom: none;
                cursor: pointer;
                align-self: flex-end;
                &:hover {
                    i {
                        transform: scale(1.2);
                        color: $blueSecondary;
                        transition: .2s;
                    }
                }
            }
        }
    }
    .hiden-container {
        display: none;
        padding: 0 20px;
    }
}

.show-container {
    display: flex;
    padding: 0 20px 20px 20px;
}


/*** skills ***/

//graphics scroll effects  
.graphic-up {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: draw 3s ease-in-out forwards;
    stroke: #0900ff;
    stroke-width: 8px;
    stroke-linecap: round;
    fill: none;
    /* display: none; */
}

.graphic-left {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: draw 3s ease-in-out forwards;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    stroke: #0900ff;
    stroke-width: 8px;
    stroke-linecap: round;
    fill: none;
    /* display: none; */
}

.invisible {
    opacity: 0;
}

@keyframes draw {
    0% {
        stroke-dashoffset: 500;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes languageEffect {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    25% {
        transform: scale(1);
        opacity: 1;
        color: #0900ff;
    }
    50% {
        transform: scale(0.6);
        opacity: 0;
    }
    75% {
        transform: scale(0.8);
        opacity: 1;
        color: #0900ff;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.languageAppear {
    color: var(--heading-color-2);
    position: relative;
    top: 112px;
    right: 24%;
    font-size: 2rem;
    animation: languageEffect 1.5s forwards ease-out;
}

.drawline {
    width: 0%;
    height: 2px;
    background: var(--heading-color);
    position: relative;
    animation: draw-line 1s linear forwards;
}

@keyframes draw-line {
    0% {
        width: 0;
        box-shadow: none;
    }
    50% {
        width: 40%;
        // box-shadow: 0px -1px 2px 0px var(--font-color);
    }
    100% {
        width: 30%;
        box-shadow: 0px 0px 4px 0px var(--font-color);
    }
}

.skills {
    padding: 20px 0;
    margin-top: 100px;
    overflow: hidden;
    h1 {
        font-family: $fontFamily2;
        text-align: center;
        display: block;
        position: relative;
        top: 29px;
        @media (max-width: 768px) {
            top: 22px;
        }
        @media (max-width: 480px) {
            top: 16px;
        }
    }
    .lines {
        @include flex(space-between,
        center);
        .line:first-child {
            margin-right: 100px;
            width: 0%;
            height: 2px;
            background: var(--heading-color);
            position: relative;
            @media (max-width: 1024px) {
                margin: 0;
            }
        }
        .line:last-child {
            margin-left: 100px;
            width: 0%;
            height: 2px;
            background: var(--heading-color);
            position: relative;
            @media (max-width: 1024px) {
                margin: 0;
            }
        }
    }
    .container {
        @include flex(space-around,
        center);
        background: var(--bg-color-2);
        padding: 0px 0 20px 0;
        margin-bottom: 20px;
        margin-top: 100px;
        article:nth-child(1) {
            flex: 0 0 30%;
            .graphic {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                flex-direction: column;
                svg {
                    @media (min-width: 1700px) {
                        width: 440px;
                        height: 440px;
                    }
                    @media (min-width: 2700px) {
                        width: 635px;
                        height: 635px;
                    }
                }
                .language {
                    color: var(--heading-color-2);
                    position: relative;
                    top: 112px;
                    right: 22%;
                    font-size: 2rem;
                }
                .percent {
                    position: relative;
                    color: var(--heading-color-2);
                    font-size: 2rem;
                    bottom: 122px;
                    left: 27%;
                }
            }
        }
        article:nth-child(2) {
            flex: 0 0 30%;
            .graphic {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                flex-direction: column;
                svg {
                    @media (min-width: 1700px) {
                        width: 440px;
                        height: 440px;
                    }
                    @media (min-width: 2700px) {
                        width: 635px;
                        height: 635px;
                    }
                }
                .language {
                    color: var(--heading-color-2);
                    position: relative;
                    top: 112px;
                    right: 22%;
                    font-size: 2rem;
                }
                .percent {
                    position: relative;
                    color: var(--heading-color-2);
                    font-size: 2rem;
                    bottom: 122px;
                    left: 27%;
                }
            }
        }
        article:nth-child(3) {
            flex: 0 0 30%;
            .graphic {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                flex-direction: column;
                svg {
                    @media (min-width: 1700px) {
                        width: 440px;
                        height: 440px;
                    }
                    @media (min-width: 2700px) {
                        width: 635px;
                        height: 635px;
                    }
                }
                .language {
                    color: var(--heading-color-2);
                    position: relative;
                    top: 112px;
                    right: 24%;
                    font-size: 2rem;
                }
                .percent {
                    position: relative;
                    color: var(--heading-color-2);
                    font-size: 2rem;
                    bottom: 122px;
                    left: 27%;
                }
            }
        }
        article:nth-child(4) {
            flex: 0 0 100%;
            p {
                padding: 20px;
                letter-spacing: 1px;
                text-align: center;
            }
            .icons {
                @include flex(space-between,
                center);
                width: 100%;
                font-size: 4rem;
                color: var(--heading-color-2);
                @media (max-width: 768px) {
                    @include flex(center, center);
                }
                i {
                    margin: 20px;
                    @media (max-width: 768px) {
                        flex: 0 0 20%;
                    }
                }
                .svgs {
                    margin: 20px;
                }
                svg {
                    width: 58px;
                    fill: var(--heading-color-2);
                }
            }
        }
    }
}

//profile
.profile {
    padding: 20px 0;
    margin-top: 100px;
    overflow: hidden;
    h1 {
        font-family: $fontFamily2;
        text-align: center;
        display: block;
        position: relative;
        top: 29px;
        @media (max-width: 768px) {
            top: 22px;
        }
        @media (max-width: 480px) {
            top: 16px;
        }
    }
    .lines {
        @include flex(space-between,
        center);
        .line:first-child {
            margin-right: 100px;
            width: 0%;
            height: 2px;
            background: var(--heading-color);
            position: relative;
            @media (max-width: 1024px) {
                margin: 0;
            }
        }
        .line:last-child {
            margin-left: 100px;
            width: 0%;
            height: 2px;
            background: var(--heading-color);
            position: relative;
            @media (max-width: 1024px) {
                margin: 0;
            }
        }
    }
    .container {
        // @include flex(center,
        // center);
        article {
            @include flex(space-between,
            center);
            background: var(--bg-color-2);
            padding: 20px;
            margin: 0 auto 20px;
            @media (max-width: 768px) {
                width: 100%;
            }
            .image {
                flex: 0 0 35%;
                padding: 15px;
                @media (max-width: 768px) {
                    flex: 0 0 70%;
                    margin: 0 auto;
                }
                img {
                    border-radius: 50%;
                    box-shadow: 0px 0px 0px 4px $blueSecondary;
                    transition: box-shadow 0.3s linear;
                    filter: grayscale(70%);
                    margin: 5px;
                    width: 100%;
                    &:hover {
                        box-shadow: 0px 0px 0px 9px $blueSecondary;
                        filter: grayscale(0%);
                    }
                }
            }
            .text {
                padding: 50px 20px 20px 20px;
                flex: 0 0 60%;
                letter-spacing: 1px;
                text-align: center;
                @media (max-width: 768px) {
                    flex: 0 0 100%;
                }
                @media (max-width: 480px) {
                    padding: 50px 0 20px 0;
                }
            }
        }
    }
}


/*** footer ***/

.lines-footer {
    @include flex(space-between,
    center);
    .line-footer {
        width: 0%;
        height: 2px;
        background: var(--heading-color);
        position: relative;
    }
}

.drawlineFooter {
    width: 0%;
    height: 2px;
    background: var(--heading-color);
    position: relative;
    animation: draw-line-footer 1s linear forwards;
}

@keyframes draw-line-footer {
    0% {
        width: 0;
        box-shadow: none;
    }
    100% {
        width: 50%;
        box-shadow: 0px 0px 4px 0px var(--font-color);
    }
}

footer {
    @include flex(space-between,
    center);
    padding: 50px 50px 30px 50px;
    background: var(--bg-color);
    @media (max-width: 1024px) {
        padding: 50px 12px 12px 12px;
    }
    .logodiv {
        display: flex;
        @include flex(center,
        baseline);
        flex: 0 0 15%;
        .logo {
            border-bottom: none;
            svg {
                height: 80px;
                width: 60px;
            }
        }
    }
    .copyright {
        border-left: 1px solid var(--font-color);
        border-right: 1px solid var(--font-color);
        padding: 20px;
        flex: 0 0 38%;
        @media (max-width: 1024px) {
            order: 2;
            flex: 0 0 100%;
            border-left: none;
            border-right: none;
            text-align: center;
            margin-top: 30px;
            padding: 0;
        }
        p {
            font-size: 1rem;
            text-indent: 0;
        }
        a {
            font-size: 1rem;
            &:hover {
                text-decoration: none;
                border-bottom: none;
            }
        }
    }
    .iconsdiv {
        @include flex(space-around,
        center);
        flex: 0 0 38%;
        @media (max-width: 1024px) {
            flex: 0 0 70%;
        }
        a {
            font-size: 3rem;
            color: var(--heading-color-2);
            transition: $transition;
            cursor: pointer;
            border: none;
            @media (max-width: 768px) {
                font-size: 2rem;
            }
            &:hover {
                color: $blueSecondary;
                transform: scale(1.2) rotate(360deg);
                transition: $transition;
                border: none;
            }
        }
    }
}